# Conhecendo a base de dados

## Importando os dados

In [ ]:
import pandas as pd

url = "https://raw.githubusercontent.com/alura-cursos/pandas-conhecendo-a-biblioteca/main/base-de-dados/aluguel.csv"
dados = pd.read_csv(url, sep=";") # metodo read_csv ler o data set e por padrão ja tira virgular porem nesse data ser estava com ponto e virgula e por isso usando o sep para que possa fazer essa organização

#read_csv(): Essa função é usada para ler arquivos CSV (Comma Separated Values), que são arquivos de texto que contêm dados separados por vírgulas.
#É possível passar diversos parâmetros para personalizar a leitura do csv, como delimitador, cabeçalho, tipo de encoding, entre outros.

#read_excel(): Essa função é usada para ler arquivos do Excel (.xls ou .xlsx) e criar um DataFrame a partir dos dados.

#read_json(): Essa função é usada para ler arquivos JSON (JavaScript Object Notation), que são arquivos de texto que contêm dados em formato de objeto JavaScript.

#read_html(): Essa função é usada para ler tabelas HTML, que são estruturas de dados organizadas em formato de tabela em uma página da web.

#read_sql(): Essa função é usada para ler dados de um banco de dados relacional, como o MySQL, PostgreSQL e SQL Server. O Pandas é capaz de importar dados de diferentes formas,
#permitindo ajustar parâmetros como a consulta, o nome da tabela e o tipo de dados das colunas.

dados.head(10)# metodo head escolher quantas linhas vai poder manipular
dados.tail(10)# metodo tail escolher quantas linhas vai poder manipular porem pega as ultimas linhas
dado= dados.head(10)
dado.describe() #O método describe() é uma função amplamente utilizada em bibliotecas de manipulação de dados, como o Pandas, para gerar estatísticas descritivas de um DataFrame ou de uma Series.
#Ele fornece informações resumidas, como a média, o desvio padrão, os valores mínimos e máximos, e os percentis.

,Quartos,Vagas,Suites,Area,Valor,Condominio,IPTU
count,10.000000,10.000000,10.000000,10.000000,10.000000,6.000000,5.000000
mean,1.700000,1.400000,0.600000,198.300000,7600.000000,4105.666667,847.600000
std,1.494434,1.712698,1.577621,278.996237,11622.487781,7535.758188,1306.462897
min,0.000000,0.000000,0.000000,15.000000,800.000000,230.000000,17.000000
25%,1.000000,0.000000,0.000000,48.500000,1050.000000,323.250000,20.000000
50%,1.500000,0.500000,0.000000,67.500000,1500.000000,445.000000,60.000000
75%,2.000000,2.750000,0.000000,137.500000,6550.000000,3140.000000,1111.000000
max,5.000000,4.000000,5.000000,750.000000,35000.000000,19193.000000,3030.000000

## Características gerais da base de dados

In [ ]:
dados.shape # verifica tamanho da linha e coluna do data frame

In [ ]:
dados.columns # verifica o nome das colunas

Index(['Tipo', 'Bairro', 'Quartos', 'Vagas', 'Suites', 'Area', 'Valor',
       'Condominio', 'IPTU'],
      dtype='object')

In [ ]:
dados.info() # mostra informações do data frame

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32960 entries, 0 to 32959
Data columns (total 9 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Tipo        32960 non-null  object
 1   Bairro      32960 non-null  object
 2   Quartos     32960 non-null  int64
 3   Vagas       32960 non-null  int64
 4   Suites      32960 non-null  int64
 5   Area        32960 non-null  int64
 6   Valor       32943 non-null  float64
 7   Condominio  28867 non-null  float64
 8   IPTU        22723 non-null  float64
dtypes: float64(3), int64(4), object(2)
memory usage: 2.3+ MB

In [ ]:
dados['Tipo'] #verificar especificamente a coluna

0                      Quitinete
1                           Casa
2        Conjunto Comercial/Sala
3                    Apartamento
4                    Apartamento
                  ...
32955                  Quitinete
32956                Apartamento
32957                Apartamento
32958                Apartamento
32959    Conjunto Comercial/Sala
Name: Tipo, Length: 32960, dtype: object

In [ ]:
dados[['Quartos', 'Valor']] #verificar especificamente duas colunas de uma vez

       Quartos   Valor
0            1  1700.0
1            2  7000.0
2            0  5200.0
3            1   800.0
4            1   800.0
...        ...     ...
32955        0   800.0
32956        3  1800.0
32957        2  1400.0
32958        2  3000.0
32959        0  6500.0

[32960 rows x 2 columns]

# Análise exploratória de dados

## Qual o valor médio de aluguel por tipo de imóvel?

## Removendo os imóveis comerciais

## Qual o percentual de cada tipo de imóvel na nossa base de dados?

### **Selecionando apenas os imóveis do tipo apartamento**

# Tratando e filtrando os dados

## Lidando com dados nulos

## Removendo registros

## Filtros

### **1. Apartamentos que possuem `1 quarto` e `aluguel menor que 1200`**

### **2. `Apartamentos` que possuem pelo menos `2 quartos`, `aluguel menor que 3000` e `area maior que 70`**

## Salvando os dados

# Manipulando os dados

## Criando colunas numéricas

## Criando colunas categóricas